.content {
  position: relative;
  padding: 20px 20px 20px calc(var(--sidebar-width-min) + 20px);

  @media (max-width: 768px) {
    width: 100vw;
  }
}
.Main {
  position: relative;
}

.edit {
  color: inherit;
  margin-bottom: 30px;
  display: block;
  width: fit-content;
  margin-left: auto;
}

.goTopBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 200;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  transition: opacity 0.3s;

  svg {
    width: 18px;
    height: 18px;
    transform: rotate(180deg);
    path {
      stroke: var(--color-white);
    }
  }

  &:hover {
    opacity: 1;
  }
}
