.content {
  position: relative;
  padding: 20px 20px 20px calc(var(--sidebar-width-min) + 20px);

  @media (max-width: 768px) {
    width: 100vw;
  }
}
.Main {
  position: relative;
}

.edit {
  color: inherit;
  margin-bottom: 30px;
  display: block;
  width: fit-content;
  margin-left: auto;
}
