.main {
  max-width: 1200px;
  padding: 0 30px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}
