.variants {
  height: 0;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 120%;
  transition: 0.2s;
  z-index: 200;
}

.isOpen {
  height: auto;
}

.addSection {
  position: relative;
  width: fit-content;
}

.variantList {
  border-radius: 4px;
  overflow: hidden;
}

.variantItem {
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--color-secondary);
  border-bottom: 1px solid var(--color-white);
  color: var(--color-white);

  &:hover {
    background: var(--color-border);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.itemTitle {
  user-select: none;
}

.selected {
  opacity: 0.6;
  background: var(--color-success);
}

.hide {
  display: none;
}

.addBtn {
  margin-top: 20px;
}
