.frame {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  //   height: calc(100vh - $ {({customHeight}) => customHeight + 'px'});

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--color-border);
  }

  &::-webkit-scrollbar {
    width: 5px;
    background: var(--color-border);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-secondary);
  }
}
