@import 'modules/variables.scss';
@import 'modules/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body,
#__next {
  height: 100%;

  @include scroll;
}

ul {
  list-style: none;
}

.df {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.fh {
  height: 100%;
}

.MarkDownEditor {
  & > div {
    background: transparent;
    color: var(--color-secondary);
  }
}

.xterm .xterm-viewport {
  overflow-y: auto !important;
  scrollbar-gutter: stable;
}
