.Button {
  padding: 9px 15px;
  outline: none;
  cursor: pointer;
  width: fit-content;
  border-radius: 4px;
  font-size: 14px;
  line-height: 130%;

  &:disabled {
    color: var(--color-border);
    background-color: var(--color-secondary);
    cursor: default;
  }
}

.primary {
  color: var(--color-white);
  border: 1px solid var(--color-success);
  background-color: var(--color-success);
}

.icon {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2) inset;

  svg {
    path {
      stroke: var(--color-secondary);
    }
  }
}
