.Button {
  padding: 5px 15px;
  outline: none;
  cursor: pointer;
  width: fit-content;
  border-radius: 4px;
  font-size: 14px;
  line-height: 130%;
}

.primary {
  color: var(--color-white);
  border: 1px solid var(--color-success);
  background-color: var(--color-success);
}
