.main {
  background: var(--color-border);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  button {
    padding: 5px 10px;
  }
}

.sandbox {
  flex-grow: 1;
}
