.notification {
  display: grid;
  grid-template-columns: 28px 300px 28px;
  border: 2px solid;
  align-items: center;
  gap: 6px;
  padding: 4px 6px;
  border-radius: 8px;
  cursor: pointer;
  border-left-width: 5px;
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.2);
  background: var(--color-white);
  transform: translateX(2000px);
}

.warningIcon {
  fill: var(--color-warning);
  height: 20px;
  width: 20px;
}

.info {
  border-color: var(--color-info);
}
.error {
  border-color: var(--color-error);
}
.success {
  border-color: var(--color-success);
}
.warning {
  border-color: var(--color-warning);
}

.infoIcon {
  width: 26px;
  height: 26px;
  path,
  circle {
    stroke: var(--color-info);
    stroke-width: 1.2px;
  }
}
.successIcon {
  height: 22px;
  width: 22px;
  fill: var(--color-success);
}

.errorIcon {
  fill: var(--color-error);
  height: 22px;
  width: 22px;
}
.iconWrapper {
  width: 28px;
  display: flex;
  justify-content: center;
}

.close {
  &.error {
    path {
      fill: var(--color-error);
    }
  }
  &.info {
    path {
      fill: var(--color-info);
    }
  }
  &.warning {
    path {
      fill: var(--color-warning);
    }
  }
  &.success {
    path {
      fill: var(--color-success);
    }
  }
}

.type {
  font-weight: 600;

  &.error {
    color: var(--color-error);
  }
  &.info {
    color: var(--color-info);
  }
  &.warning {
    color: var(--color-warning);
  }
  &.success {
    color: var(--color-success);
  }
}

.show {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.hide {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  animation: timer forwards linear;

  &.error {
    background: var(--color-error);
  }
  &.info {
    background: var(--color-info);
  }
  &.success {
    background: var(--color-success);
  }
  &.warning {
    background: var(--color-warning);
  }
}

@keyframes timer {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes fadeIn {
  0% {
  }
  90% {
    transform: translateX(-10px);
  }
  95% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(10px);
  }
  10% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(2000px);
  }
}
