@import '@app/styles/modules/mixins';

.empty {
  font-style: italic;
  margin-top: 50px;
}

.tableData {
  display: grid;
  overflow-x: auto;
  overflow-y: hidden;

  @include scroll(var(--color-border));
}

.row {
  display: flex;
  width: fit-content;
  min-width: 100%;
  position: relative;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-border);
  gap: 16px;
  align-items: center;
}

.column {
  flex-shrink: 0;
}

.system {
  width: 200px;
}

.ip {
  width: 130px;
}

.created {
  width: 200px;
}

.ttl {
  width: 200px;
}

.control {
  margin-left: auto;
  position: sticky;
  right: 0;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  width: 34px;
}

.active {
  color: var(--color-success);
}

.inactive {
  color: var(--color-error);
}

.close {
  svg {
    width: 20px;
    height: 20px;

    path {
      fill: var(--color-border) !important;
      stroke: transparent !important;
    }
  }

  @media (max-width: 768px) {
    padding: 0;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.infoIcon {
  width: 120px;
  height: 120px;

  circle {
    stroke: var(--color-border);
  }

  path {
    stroke: var(--color-border);
  }
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.popupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup {
  & > div {
    max-width: 500px;
  }
}
