.header {
  background-color: #1f1f1f;
  padding: 0 30px;
  height: var(--navbar-height);
  display: flex;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
