:root {
  --color-primary: #181c25;
  --color-secondary: #3d3d3d;
  --color-border: #b3b3b3;
  --color-white: #ffffff;
  ---color-error: #cb0b0b;
  ---color-success: #439522;

  --shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  --navbar-height: 59px;
}
