:root {
  --color-primary: #181c25;
  --color-secondary: #5a5a5a;
  --color-border: #b3b3b3;
  --color-white: #ffffff;
  --color-error: #cb0b0b;
  --color-success: #439522;

  --shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  --navbar-height: 59px;
  --sidebar-width-min: 35px;
  --sidebar-width-max: 350px;
  --notification-top: 100px;
}
