.text {
    font-size: 14px;
    line-height: 130%;
    color: var(--color-primary);
}

.error {
    color: var(---color-error);
}

.success {
    color: var(---color-success);
}

.helper {
    color: var(--color-secondary);
}

.small {
    font-size: 12px;
    line-height: 120%;
}