.Sidebar {
  position: fixed;
  top: var(--navbar-height);
  z-index: 10;
  background-color: var(--color-secondary);
  border: 1px solid;
  width: var(--sidebar-width-max);
  height: 100%;
  transform: translateX(calc(var(--sidebar-width-min) - var(--sidebar-width-max)));
  transition: transform 0.3s ease-in-out;
}

.burgerWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.isOpen {
  border-bottom: 1px solid var(--color-border);
}

.open {
  transform: translateX(0);

  @media (max-width: 768px) {
    width: 100%;
  }
}
