.sandboxItem {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  &:hover {
    .removeWrapper {
      transform: translateX(0px) rotate(0deg);
    }
  }
}

.bottom {
  display: grid;
  gap: 4px;
}

.title {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.date {
  font-size: 12px;
  line-height: 1;
  color: var(--color-secondary);
  margin-left: auto;
}

.removeWrapper {
  position: absolute;
  transform: translateX(30px) rotate(180deg);
  top: 10px;
  right: 10px;
  transition: transform 0.3s;

  svg > path {
    stroke: var(--color-white);
  }
}

.popup {
  & > div {
    max-width: 550px;
  }
}

.popupText {
  font-size: 24px;
}

.popupContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  svg {
    fill: var(--color-error);
  }
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
