@import '@app/styles/modules/mixins';

.loaderWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isHide {
  opacity: 0;
}

.PreviewList {
  overflow-y: auto;
  height: calc(100vh - 90px);
  @include scroll(var(--color-border));
}
