.signin {
  color: var(--color-white);
  min-height: 100%;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: var(--color-success);
    width: 0;
    transition: width 0.1s ease-in-out;
  }

  &:hover {
    color: var(--color-success);

    &:before {
      width: 100%;
    }
  }
}
.leftMenu {
  height: 100%;
}

.profileIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: var(--color-white);
}

.menu {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.Wrapper {
  position: absolute;
  top: 100%;
  right: -30px;
  list-style-type: none;
  background-color: var(--color-secondary);
  width: 300px;
}

.menuItem {
  font-size: 18px;
  color: var(--color-white);
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: rgb(172, 172, 172);
  }
}
