.web {
  border: 1px solid var(--color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.code {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.codeBlock {
  position: relative;
  border-top: 4px solid var(--color-primary);
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

.codeSection {
  display: flex;
  height: 100%;
  min-width: 0;
  min-height: 0;
  width: 33.333%;

  &:last-of-type {
    border-right: none;
  }

  @media (max-width: 768px) {
    width: 0% !important;
  }
}

.transition {
  transition: width 0.3s;
}

.codeWrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  min-width: 0;
  min-height: 0;
  height: 100%;
}

.resizer {
  width: 12px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  background: var(--color-primary);
  border: 1px solid var(--color-border);
  border-top: none;
  border-bottom: none;
  touch-action: none;
  user-select: none;

  @media (max-width: 768px) {
    display: none;
  }
}

.columnResizer {
  cursor: col-resize;
}

.iconWrapper {
  container-name: wrapper;
  container-type: inline-size;
  display: flex;
  align-items: center;
  background: var(--color-secondary);
  padding: 3px;
  gap: 6px;
  cursor: pointer;

  svg {
    width: 18px;
    height: 18px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.stackIcon {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1;
  color: var(--color-white);
  user-select: none;
}

.rowResizer {
  height: 12px;
  cursor: row-resize;
  border: 1px solid var(--color-border);
  border-left: none;
  border-right: none;
  background: var(--color-primary);
  flex-shrink: 0;
  touch-action: none;
}

.codeEditor {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rightBorder {
  position: absolute;
  right: 0;
  width: 3px;
  top: 0;
  bottom: 0;
  cursor: default;
}

@container wrapper (max-width: 60px) {
  .stackIcon {
    display: none;
  }
}

.mobileTabs {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    padding: 3px;
  }
}

.mobileTabItem {
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > svg {
    width: 18px;
    height: 18px;
  }
}

.mobileTabActive {
  background: var(--color-black);
  border-radius: 4px;
}

.mobileCodeActive {
  @media (max-width: 768px) {
    width: 100% !important;
  }
}
